__pycache__/
bin/
checkpoints/
datasets/*
include/
lib/
share/
testing/
venv/
bert.py
create_content_only.py
*.pkl
*.txt
*.csv
!datasets/test_data_evolution_true.txt
!datasets/test_data_evolution_false.txt
!datasets/test_data_not_evolution.txt
!tweets_test_data_evolution_true.pkl
!tweets_test_data_evolution_false.pkl
!tweets_test_data_not_evolution.pkl
.DS_Store